@media only screen and (max-width: 1199px) {
    .container{
        padding: 0 15px;
    }


    .food_wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }
    .food_text{
        text-align: center;
        order: 2;
    }
    .food_img, .food_img img {
        width: 100%;
    }
    .bakery_item{
        margin: 10px 40px  ;
    }

}
@media only screen and (max-width: 993px) {
    .all_offers{
        flex-wrap: wrap;
    }
    .offer_item{
        margin: 10px 30px;
    }
    .bakery_item{
        margin: 10px 20px  ;
    }
    .food_text h2{
        margin-top: 15px;
    }
    .surprise_flex{
        flex-wrap: wrap;
    }
    .surprise_img{
        margin-right: 0;
        width: 100%;
    }
    .surprise_img img{
        width: 100%;
    }
    .surprise_text{
        padding: 55px 0;
        max-width: 100%;
        text-align: center;
    }
    .surprise_text h2{
        text-align: center;
    }
    .surprise_text p{
        text-align: center;
        padding: 0 15px;
    }
}
@media only screen and (max-width: 767px) {
    .bakery_item{
        max-width: 100% ;
        margin-bottom: 15px;
        text-align: center;
    }
    .bakery_item h3{
        text-align: center;
    }
    .food_text h2 {
        text-align: center;
    }
    .surprise_img, .surprise_text{
        max-width: 100% ;
    }
.surprise_img img{
    display: block;
    width: 100%;
}
}
@media only screen and (max-width: 420px) {
    .offer_item{
        width: 100%;
    }
}
@media only screen and (max-width: 375px) {
    .food_text h2 {
        max-width: 290px;
        width: 100%;
        margin: auto;
    }
}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}