@media only screen and (max-width: 1199px) {
    .container{
        padding: 0 15px;
    }

    .food_text{
        margin-bottom: 20px;
    }
    .food_wrapper img{
        max-width: 100% ;
        order: 1;
    }
    .owl-carousel .owl-nav .owl-next{
        position: absolute;
        z-index: 10;
        top: 109%;
        right:0;
        transform: rotate(180deg);
    }
    .owl-carousel .owl-nav .owl-prev{
        position: absolute;
        z-index: 10;
        top: 110%;
        left: 85%;
    }
    .surprise_text{
        padding-top: 0;
    }


}
@media only screen and (max-width: 993px) {
    .all_offers{
        flex-wrap: wrap;
    }
    .offer_item{
        margin: 20px 30px;
    }
    .bakery_item{
        margin: 10px 20px  ;
    }
    .food_text{
        margin-bottom: 20px;
        margin-right: 0;
        text-align: center;
        align-items: center;
    }
    .food_text h2{
        margin-top: 15px;
        text-align: center;
    }
    .surprise_flex{
        flex-wrap: wrap;
    }
    .food_wrapper{
        flex-wrap: wrap;
    }
    .food_img{
        order: 1;
        max-width: 100%;
    }
    .food_text{
        order: 2;
    }

    .surprise_img{
        margin-right: 0;
        width: 100%;
    }
    .surprise_img img{
        width: 100%;
    }
    .surprise_text{
        padding: 55px 0;
        max-width: 100%;
        text-align: center;
    }
    .surprise_text h2{
        text-align: center;
    }
    .surprise_text p{
        text-align: center;
        padding: 0 15px;
    }
    p, h1, h2, h3, h4, h5, h6, a {
        font-size: 4vw;
    }

}
@media only screen and (max-width: 767px) {
    .bakery_item{
        max-width: 100% ;
        margin-bottom: 15px;
        text-align: center;
    }
    .bakery_item h3{
        text-align: center;
    }
    .food_text h2 {
        text-align: center;
    }
    .surprise_img, .surprise_text{
        max-width: 100% ;
    }
    .surprise_img img{
    display: block;
    width: 100%;
}
    .food_wrapper img, .surprise_img{
        display: none;
    }
    .social_list ul li{
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .social_list{
        max-width: 80%;
        margin: auto;
    }

}
@media only screen and (max-width: 420px) {
    .offer_item{
        width: 100%;
    }

}
@media only screen and (max-width: 375px) {
    .food_text h2 {
        max-width: 290px;
        width: 100%;
        margin: auto;
    }
}
@media only screen and (max-width: 360px) {

}
@media only screen and (max-width: 320px) {

}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: contents; }